:root {
    --main-color0: #2c3e50;  /* Dark Blue */
    --main-color1: #34495e;  /* Blue Gray - Text color */
    --main-color2: #4a90e2;  /* Professional Blue - Button color */
    --main-color3: #1f78b4;  /* Darker Blue - Button hover */
    --main-color4: #ecf0f1;  /* Light Gray - Background color */
    --main-color5: #ffffff;  /* Pure White */
    --main-color6: #2c3e50;  /* Dark Blue - Navbar background */
}

html {
    background-color: var(--main-color4); 
    color: var(--main-color1); 
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure html takes full viewport height */
    width: 100vw;  /* Ensure html takes full viewport width */
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure body takes full viewport height */
    width: 100vw;  /* Ensure body takes full viewport width */
}

h1 {
    font-size: 2.5vh; /* Decreased font size relative to viewport width */
}

h2 {
    font-size: 1.5vh; /* Decreased font size relative to viewport width */
}

p {
    height: auto; 
    margin: 1vh 0; /* Adjust margin relative to viewport height */
}

button {
    background-color: var(--main-color2);
    border: 0.2vh solid var(--main-color2);    
    color: var(--main-color5);
    border-radius: 1vh;
    margin: 2vh;
    padding: 1.2vh 2.5vh;
    transition-duration: 0.5s;
    font-size: 2vh;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-color3);
    color: var(--main-color5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
    background-color: var(--main-color6);
    color: var(--main-color5);
    width: 100vw; /* Ensure the header takes full viewport width */
    box-sizing: border-box;
    /* position: fixed; Fix the header at the top */
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    gap: 1.5vw; /* Adjust gap relative to viewport width */
}

.navbar a {
    text-decoration: none;
    color: var(--main-color5);
}

.navbar a:hover {
    color: var(--main-color2);
}

.module {
    padding: 4vh 2vw;
    margin-top: 10vh; /* Adjust margin to avoid overlap with fixed header */
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-button {
    margin-top: 2vh;
}
