/* colors from: https://www.color-hex.com/color-palette/2280 */
:root {
    --main-color0: #000;   /* Completley black */
    --main-color1: #343d46; /* almost black - Text color */
    --main-color2: #4f5b66; /* medium gray  - ____ */
    --main-color3: #65737e; /* medium blue  - button color */
    --main-color4: #a7adba; /* light gray   - button hover */
    --main-color5: #c0c5ce; /* almost white - Background color */
    --main-color6: #ffffff; /* pure white   - ____ */
}

html {
    background-color: var(--main-color5); 
    color: var(--main-color1); 
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-size: 35px;
}
h2 {font-size: 20px;}
p {height:15px;}

/* Need to reformat the button here or in the div */
button {
    /* margin: 20px;  */
    background-color: var(--main-color2);
    border: 2px solid var(--main-color2);    
    color: var(--main-color5);
    border-radius: 10px;
    margin: 20px;
    padding: 12px 25px;
    transition-duration: 0.5s;
    cursor: pointer;
}

button:hover{
    background-color: var(--main-color3);
    color: var(--main-color6);
}

/* example class setting css */
.header {
    text-align: center;
}

/* This has the remaining nav items */
div.modules {

}

/* This only contains one nav item */
div.module {

}